.blue {
    background-color: #deebf2;
}

h1, h2, h3, h4, p, pre {
    font-family: 'Open Sans', sans-serif;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

.navbar-brand {
    font-size: 24px;
}

.navbar {
    background-color: #ffffff !important;
}

footer {
    background-color: #deebf2 !important;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(250,92,100)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.nav-link {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

.icon {
    width: 50px;
    height: 50px;
}

.par {
    text-align: center;
}

.line, pre {
    line-height: 2;
}

p, pre {
    font-size: 18px;
}

.align {
    text-align: center;
}

.align2 {
    margin-left: auto;
    margin-right: auto;
}

a {
    color: #fa5c64;
    font-family: 'Merriweather', serif;
    font-size: 15px;
}

.btn {
    background-color: #fa5c64;
}

.btn:hover {
    background-color: gray;
}

.squaredThree label {
  background: #D7B1D7;
}

.red {
    font-weight: 200;
    color: darkgray;
}

.black {
    background-color: darkgray;
}

.gray {
    color: #000000;
}

.redlink {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #fa5c64;
}

a:hover {
    color: #000000;
    text-decoration: none;
}

.active, .gray:hover {
    color: #fa5c64 !important;
}

.table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th {
   background-color: #deebf2 !important;
 }

.carousel-indicators li {
    height: 8px !important;
    background-color: #deebf2 !important;
}

.input[type=checkbox]:after {
    background-color: #D7B1D7 !important;
}

.forma {
    border-bottom: solid 1px;
    border-top: solid 1px;
    border-right: solid 1px;
    border-left: solid 1px;
}

.sign, .btn, footer, .navbar {
    font-family: 'Merriweather', serif;
}

wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}